.questionnaireForm {
    text-align: center;
}

.clickText {
    height: 40px;
    margin-top: 10px;
}

.centerHelp {
    justify-content: center;
}

.questionnaireNavLink {
    padding: 10px;
    border: 1px solid black;
    margin: 2px;
    border-radius: 30%;
}

.guestFeedback {
    border: 1px solid black;
    width: 400px;
    height: 200px;
    margin: auto;
    padding: 10px;
}


