/* All Report CSS */
.report {
    margin: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.paper {
    width: 8.5in;
    height: 11in;
}

.list {
    list-style-type: none;
}

.sectionColor {
    background-image: linear-gradient(to bottom right, #122445, #2f5a52);
    width: 100%;
    color: white;
}

/* Dotted border */
hr.dotted {
    border-top: 3px dotted #bbb;
}

/* Table of Contents CSS */
.tableOfContents{
    padding: 10px;
    margin: 30px;
}

.tocTitle {
    font-size: 50px;
}

.tocText{
    font-size: 20px;
    margin-bottom: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #434343;
}

/* Section One CSS */
.reportSectionOne {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 30px;
}

.introParagraph {
    width: 70%;
}

.introContainer {
    display: flex;
    flex-direction: column;
    text-align: center;  
    width: 150px;
    background-color: #efefee;
    position: absolute;
    margin-left: 550px;
    margin-top: 10px;
}

.sectionOneText{
    text-align: center;
    padding-right: 100px;
    margin-top: 50px;
}

.sectionOneColor {
    height: 4in;
    margin-top: 100px;
}

.numbersSectionOne {
    font-size: 45px;
    margin-bottom: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #434343;
}

/* Section Two CSS */
.reportSectionTwo {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 30px;
}

.problemParagraph {
    width: 100%;
}

.problemText {
    border: solid black 1px;
}

/* Final Page CSS */
.finalPage {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.finalLogo {
    margin-top: 150px;
    width: 100%;
    text-align: center;
}

.finalPara {
    width: 100%;
    padding-right: 100px;
    padding-left: 100px;
    text-align: center;
}

.contactInfo{
    text-align: center;
}

/* Table of Contents CSS */
.tableOfContentsContainer {
    display: flex;
}

.tableOfContentsColumn {
    width: 50%;
    padding-left: 100px;
}