/* All Report CSS */
.report {
    margin: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.paper {
    width: 8.5in;
    height: 11in;
    margin-bottom: 10px;
}

.list {
    list-style-type: none;
}

.sectionColor {
    background-image: linear-gradient(to bottom right, #122445, #2f5a52);
    width: 100%;
    color: white;
}

/* Dotted border */
hr.dotted {
    border-top: 3px dotted #bbb;
}

/* Front page CSS */
.frontPage{
    background-image: url('/public/images/Basil\ Data\ Report\ Front\ Page.png');
    background-size: 8.5in 11in;
}

.frontPageDate{
    font-family: cursive;
    padding-top: 300px;
    padding-left: 300px;
}

.frontPageEnterprise {
    padding-left: 300px;
    color: #674ea7;
    font-size: 30px;
}

.solid {
    border: 1px solid #434343;
    width: 400px;
    text-align: right;
}

.frontPageImpact{
    color: gray;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 270px;
    font-weight: normal;
}

.frontPageLogo{
    margin-left: 250px;
    padding-bottom: 430px;
}

/* Table of Contents CSS */
.tableOfContents{
    padding: 10px;
    margin: 30px;
}

.tocTitle {
    font-size: 50px;
}

.tocText{
    font-size: 20px;
    margin-bottom: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #434343;
}

.tableOfContentsContainer {
    display: flex;
}

.tableOfContentsColumn {
    width: 50%;
    padding-left: 100px;
}

/* Section One CSS */
.reportSectionOne {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 30px;
}

.introParagraph {
    width: 70%;
}

.introContainer {
    display: flex;
    flex-direction: column;
    text-align: center;  
    width: 150px;
    background-color: #efefee;
    position: absolute;
    margin-left: 550px;
    margin-top: 10px;
}

.sectionOneText{
    text-align: center;
    padding-right: 100px;
    margin-top: 50px;
}

.sectionOneColor {
    height: 4in;
    margin-top: 100px;
}

.numbersSectionOne {
    font-size: 45px;
    margin-bottom: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #434343;
}

/* Final Page CSS */
.finalPage {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url('/public/images/Basil\ Data\ Report\ Front\ Page.png');
    background-size: 8.5in 11in;
}

.finalLogo {
    margin-top: 350px;
    margin-left: 70px;
    width: 100%;
    text-align: center;
}

.finalPara {
    width: 100%;
    padding-right: 100px;
    padding-left: 100px;
    margin-left: 100px;
    text-align: center;
}

.contactInfo{
    text-align: center;
}

.disclaimer {
    font-size: 12px;
    margin-top: 200px;
    margin-left: 500px;
    margin-right: 50px;
    margin-bottom: 10px;
    text-align: justify;
}
