.report {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.list {
    list-style-type: none;
}

.reportSectionOne {
    display: flex;
    flex-wrap: wrap;
}

.introParagraph {
    width: 70%;
}

.introContainer {
    display: flex;
    flex-direction: column;
    text-align: center;   
    margin-left: 40px;
    width: 20%;
    background-color: rgb(245, 231, 209);
}

.sectionColor {
    background-image: linear-gradient(to bottom right, rgb(40, 53, 172), rgb(29, 107, 42));
    width: 100%;
    text-align: center;
    color: white;
}

.finalPage {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.finalLogo {
    margin-top: 200px;
    width: 100%;
    text-align: center;
}

.finalPara {
    width: 100%;
    padding-right: 300px;
    padding-left: 300px;
    text-align: center;
}

.contactInfo{
    text-align: center;
}